*{
  padding: 0;
  margin: 0;
}

.containers{
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(45deg, rgba(0,0,0,0.7), rgba(21, 110, 31, 0.675));
}

.title{
  position: absolute;
  height: 10vh;
  align-items: center;  
  left: 42%;
  top: 150px;
  padding: 0.2em 0.6em;
  margin: 0;
}

.destino{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 44%;
  top: 380px;
}

.btn-entrada{
  padding: 0.6em 1.5em;
  margin: 10px;
  text-decoration: none;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(20, 95, 20);
  font-size: 30px;
}

.btn-descarte{
  padding: 0.6em 1.2em;
  margin: 10px;
  text-decoration: none;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(20, 95, 20);
  font-size: 30px;
}

.btn-saida{
  padding: 0.6em 2.3em;
  margin: 10px;
  text-decoration: none;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(20, 95, 20);
  font-size: 30px;
}